---
import PageTemplate from '../components/PageTemplate.astro';
import PageContent from '../components/PageContent.astro';
---

<PageTemplate >
    <PageContent />
</PageTemplate>

<h1>index.astro If we both are removed, the content PageTemplate.astro loses its styling</h1>
<div class="scoped">index.astro if we both, the content PageTemplate.astro loses its styling</div>