---
import Component1 from '../components/Component1.astro';
import Component2 from '../components/Component2.astro';
---

<!-- Removing this main tag breaks the styling -->
<main>
  <Component1 />
  <Component2 />
</main>