<style>
  /* Scoped class selector within the component */
  .scoped {
    font-weight: bold;
  }

  /* Scoped element selector within the component */
  h1 {
    color: red;
    background: blue;
    font-size: 300%;
  }

</style>


<div class="scoped">PageTemplate.astro: I’m a scoped style and only apply to this component.  My styling is somehow  dependent on an element in PageContent.astro.</div>
<h1>PageTemplate.astro: I have both scoped and global styles.  My styling is also somehow dependent on an element in PageContent.astro.</h1>
<slot/>
